body {
  font-family: "Roboto", serif;
}

.startClass {
  margin-right: 400px;
}

.myNavBG {
  background-color: #2c3e50;
}

.myMarginTop {
  margin-top: 95px;
}

.active {
  border: 1px solid #1abc9c;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: #1abc9c;
}

.NavLink {
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 7px;
}

.myFooter {
  background-color: #2c3e50;
}

.mySmallerFooter {
  background-color: #17212a;
}

.icons {
  border: 1px solid white;
  padding: 12px;
  border-radius: 50%;
  margin: 3px;
}

.myStart {
  background-color: #1abc9c;
}

.myAbout {
  background-color: #1abc9c;
}

.myContacts h2 {
  color: #2c3e50;
  font-weight: 800;
}

.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none !important;
}

.myContacts button {
  background-color: #1abc9c;
  border: #1abc9c;
}

.myContacts button:hover {
  background-color: #1abc9c;
  border: #1abc9c;
}

.myPortfolio h2 {
  color: #2c3e50;
  font-weight: 800;
}

/* .myPortfolio img {
  cursor: pointer !important;
} */

.item-layout {
  background-color: transparent;
  width: 100%;
  height: 100%;
  bottom: 0px;
  opacity: 0.9;
  transition: all 0.5s;
  cursor: pointer;
}

.item-layout:hover {
  background-color: #1abc9c;
}

.item-layout i {
  font-size: 100px;
  font-weight: 900;
  color: transparent;
  transition: all 0.5s;
}

.item-layout:hover i {
  color: white;
}

.lightbox-container {
  background-color: rgba(194, 218, 255, 0.2);
}

.lightbox-item {
  width: 45%;
  height: 70vh;
  background-image: url("https://routeegy.github.io/startFramework/assets/images/poert1.png");
  background-size: 100% 100%;
}
